<h3><%= @my_item.name %> &amp; <%= @other_item.name %></h3>
<div class="row">
  <div class="col-sm-6 col-md-4 item-display" >
    <div class="thumbnail">
      <% if @other_item.avatar %>
        <img src="<%= @other_item.avatar_file_name %>" alt="<%= @other_item.name %>">
      <% end %>
      <div class="caption">
        <h3><%= @other_item.name %></h3>
        <p><%= @other_item.description %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div id="chat-panel" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Conversation</h3>
      </div>
      <div class="chat">
        <div id="chat-sm">
          <% @match.messages.each do |message| %>
          <% if current_user.name == message.user.name %>
          <div class="chat-body clearfix">
            <div class="header">
              <strong class="primary-font"><%= message.user.name %></strong>
              <small class="text-muted">
                <span class="glyphicon glyphicon-time"></span>sent at <%= std_format_date(message.created_at) %>
              </small>
            </div>
            <p class="pull-left"><%= message.content %></p>
          </div>
          <% else %>
          <div class="chat-body clearfix">
            <div class="header">
              <strong class="primary-font"><%= message.user.name %></strong>
              <small class=" text-muted">
                <span class="glyphicon glyphicon-time"></span>sent at <%= std_format_date(message.created_at) %>
              </small>
            </div>
            <p class="pull-left"><%= message.content %></p>
          </div>
          <% end %>
          <% end %>
        </div> <!--  End of Chat id -->
        <div class="panel-footer">
          <%= form_for @message, url: item_match_messages_path(@my_item, @match), class: "form-horizontal" do |f| %>

          <div class="input-group">
            <%= f.text_field :content, class: 'form-control input-sm', id:"btn-input" %>
            <span class="input-group-btn">
              <%= f.submit "Send", class:"btn btn-warning btn-sm", id:"btn-chat" %>
            </span>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4" id="swap-button">
    <h4>It em Status</h4>
    <% if @my_item.swapped and @other_item.swapped  %>
      <p>Your item is officially swapped!</p>
    <% elsif @my_item.swapped %>
      <p>You have initiated a swap for your item</p>
    <%else %>
    <%= form_for @my_item do |f| %>
      <%= f.hidden_field :swapped %>
      <%= hidden_field_tag "match", @match.id %>
      <%= f.submit "Mark as swapped", class: "btn btn-lg btn-primary btn-xlarge" %>
    <% end %>
 <% end %>
  </div>
</div>
