<% if item.avatar %>
  <img class="img-square" src="<%= item.avatar.url %>" alt="<%= item.name %>">
<% end %>

<h3><%= item.name %></h3>
<p><%= item.description %></p>
<%= link_to "Edit my item", edit_item_path if item.user == current_user%>
