<div class='available-items-container'>
  <% if @item %>
    <%= render partial: "swipe_item", locals: {item: @item} %>

    <%= form_for @swipe, html: {class: 'swipe-action', id: 'swipe-left'} do |f| %>
      <%= f.hidden_field :direction, value: "L" %>
      <%= f.hidden_field :other_item_id, value: @item.id %>
      <%= f.submit "swipe left", class: "sr-only" %>
      <%= f.button class: 'btn btn-default btn-lg', name:"commit" do %>
        <i class="fa fa-close"></i>
      <% end %>
    <% end %>

    <%= form_for @swipe, html: {class: 'swipe-action', id: 'swipe-right'} do |f| %>
      <%= f.hidden_field :direction, value: "R" %>
      <%= f.hidden_field :other_item_id, value: @item.id %>
      <%= f.submit "swipe right", class: "sr-only" %>
      <%= f.button class: 'btn btn-default btn-lg', name:"commit" do %>
        <i class="fa fa-check"></i>
      <% end %>
    <% end %>

  <% end %>
</div>

<!-- MODAL CODE BELOW -->
<div class="modal fade center" id="myModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-content">
              <h4 class="modal-title" id="myModalLabel"></h4>

              </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
