<!DOCTYPE html>
<html>
<head>
  <title>Treasure</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="container-nav">
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Treasure', root_path %>
    </div>
  </div>
</nav>

    
</header>

<%= yield %>

</body>
</html>
