<!DOCTYPE html>
<html>
<head>
  <title>Treasure</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="container-nav">
    <%= link_to 'Treasure', root_path %>

  </header>

<%= yield %>

</body>
</html>
